<!-- <div fxLayout="row" fxLayoutAlign="center center" > -->
<div [hidden]="noteCard">
  <mat-card class="addNote">
    <input type="text" placeholder="take a note..." ngStyle.xs="border: none; height: 45px; 
    font-size: 18px; min-width: 247px; outline: none; border-radius: 8px;"
    ngStyle.sm="border: none; height: 45px; font-size: 18px; min-width: 247px; outline: none;
     border-radius: 8px;"
    ngStyle.md="border: none; height: 45px; font-size: 18px; min-width: 247px; outline: none;
     border-radius: 8px;"
     ngStyle.lg="border: none; height: 45px; font-size: 18px; min-width: 365px; outline: none;
     border-radius: 8px;"
     ngStyle.xl="border: none; height: 45px; font-size: 18px; min-width: 365px; outline: none;
     border-radius: 8px;"
     autofocus (click)="noteCard = true" (click)="checkToggle = false; index = '#ffffff'" >
    <button mat-icon-button class="listBut">
      <mat-icon (click)="checkToggle = true" (click)="noteCard = true">list</mat-icon>
    </button>

    <button mat-icon-button class="imageBut">
      <mat-icon>image</mat-icon>
    </button>

    <button mat-icon-button class="editBut">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>
</div>

<div [hidden]="!noteCard">
  <mat-card [style.backgroundColor]="index"
  ngStyle.xs="max-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;"
  ngStyle.sm="max-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;"
  ngStyle.md="min-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;"
  ngStyle.lg="min-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;"
  ngStyle.xl="min-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;">
    <form>
      <div fxLayoutAlign="space-between" fxLayout="column">
        <div fxLayout="row">
          <div contenteditable="true" placeholder="Title" class="titleNote" #title> </div>
          <div><button mat-icon-button style="position: absolute; margin-left: -43px;" (click)="isPinned = !isPinned"
              [ngClass]="isPinned ? 'solid' : 'blur'">
              <mat-icon>fiber_pin</mat-icon>
            </button></div>
        </div><br>
        <div contenteditable="true" placeholder="take a note..." class="takeNoteExpand" style="clear:left" 
        #desc *ngIf="checkToggle === false">
        </div><br>
        <div *ngIf="checkToggle === true && array !== []">

          <div *ngFor="let item of array">
            <mat-checkbox name="checkbox" (click)="currentTick(item)">
              <div contenteditable="true" placeholder="take a note..." class="takeNoteExpand" style="clear:left"
                [innerHTML]=item.checkText></div>
            </mat-checkbox>​

          </div>
          <mat-checkbox>&nbsp;<input type="text" class="checkInput" name="check" placeholder="list" 
            (keydown)="nextLine($event)"
              [(ngModel)]="checkText"></mat-checkbox>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of labelUpdate; let i=index;">

              {{item.label}}
              <!-- <button mat-icon-button (click)="removeLabelChip(item,i)"><mat-icon>cancel</mat-icon></button> -->
              
            </mat-chip>
          </mat-chip-list>
          
        </div>

        <div></div>

        <div fxLayout="row wrap">
          <!-- <div *ngFor="let label of item.labelIdList"> -->
            <div *ngIf="!(remainder === '')">
              
              <mat-chip ><mat-icon>schedule</mat-icon>&nbsp; {{remainder | date: "medium"}}
              <mat-icon (click)="removeRemainder()">cancel</mat-icon></mat-chip>
            </div>
          <!-- </div> -->
        </div>
        </div>

      </div>
      <div fxLayoutAlign="space-between" fxLayout="row">
        <button mat-icon-button class="touchBut">
          <app-create-remainder [allowDate]=dateFlag (addDate)="addReminder($event)"></app-create-remainder>
        </button>
        <button mat-icon-button class="addBut">
          <mat-icon>person_add</mat-icon>
        </button>

        <!-- color palette selection -->
        <button mat-icon-button class="colorBut" [matMenuTriggerFor]="colourMenu">
          <mat-icon>palette</mat-icon>
        </button>
        <mat-menu #colourMenu="matMenu" style="border-radius: 40px;" yPosition="above" [overlapTrigger]='false'>

          <div>
            <button mat-mini-fab class="color1" (click)="changeColor(1)"></button>
            <button mat-mini-fab class="color4" (click)="changeColor(4)"></button>
            <button mat-mini-fab class="color7" (click)="changeColor(7)"></button>
            <button mat-mini-fab class="color10" (click)="changeColor(10)"></button>


            <!-- <button mat-menu-item ><button mat-mini-fab class="color1"></button></button> -->
          </div>

          <div>
            <button mat-mini-fab class="color2" (click)="changeColor(2)"></button>
            <button mat-mini-fab class="color5" (click)="changeColor(5)"></button>
            <button mat-mini-fab class="color8" (click)="changeColor(8)"></button>
            <button mat-mini-fab class="color11" (click)="changeColor(11)"></button>

            <!-- <button mat-menu-item ><button mat-mini-fab class="color1"></button></button> -->
          </div>
          <div>
            <button mat-mini-fab class="color3" (click)="changeColor(3)"></button>
            <button mat-mini-fab class="color6" (click)="changeColor(6)"></button>
            <button mat-mini-fab class="color9" (click)="changeColor(9)"></button>
            <button mat-mini-fab class="color12" (click)="changeColor(12)"></button>
            <!-- <button mat-menu-item ><button mat-mini-fab class="color1"></button></button> -->
          </div>


        </mat-menu>

        <!-- color palette ends-->



        <button mat-icon-button class="archiveBut" (click)="archiveIt()">
          <mat-icon>archive</mat-icon>
        </button>
        <div fxLayoutAlign="space-between">
          <button mat-icon-button class="moreBut">
            <app-creat-note-more-option [isCheck]="labelUpdate" [alowCheck]="checkToggle" (labelAdds)="updateLabel($event)" (checkBox)="updateCheckList($event)">
            </app-creat-note-more-option>
          </button>

          <button mat-button (click)="noteCard = false" style="opacity: 1.5" (click)="addNote()" 
          (click)="array = []"><b>close</b></button>
        </div>
      </div>
    </form>
  </mat-card>
</div>