<!-- <div fxLayout="row" fxLayoutAlign="center center" > -->
<div [hidden]="noteCard == true || showCollab == true">
  <mat-card class="addNote">
    <input type="text" placeholder="take a note..." ngStyle.xs="border: none; height: 45px; 
    font-size: 18px; min-width: 247px; outline: none; border-radius: 8px;"
      ngStyle.sm="border: none; height: 45px; font-size: 18px; min-width: 247px; outline: none;
     border-radius: 8px;"
      ngStyle.md="border: none; height: 45px; font-size: 18px; min-width: 247px; outline: none;
     border-radius: 8px;"
      ngStyle.lg="border: none; height: 45px; font-size: 18px; min-width: 365px; outline: none;
     border-radius: 8px;"
      ngStyle.xl="border: none; height: 45px; font-size: 18px; min-width: 365px; outline: none;
     border-radius: 8px;"
      autofocus (click)="noteCard = true" (click)="checkToggle = false; index = '#ffffff'">
    <button mat-icon-button class="commonButton">
      <mat-icon (click)="checkToggle = true" (click)="noteCard = true">list</mat-icon>
    </button>

    <button mat-icon-button class="commonButton">
      <mat-icon>image</mat-icon>
    </button>

    <button mat-icon-button class="commonButton">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>
</div>

<div [hidden]="noteCard == false || showCollab == true">
  <mat-card [style.backgroundColor]="index" ngStyle.xs="max-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;"
    ngStyle.sm="max-width: 377px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: 18px; margin-left: -3px;"
    ngStyle.md="min-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;"
    ngStyle.lg="min-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;"
    ngStyle.xl="min-width: 364px; padding: 0px 0px 0px 17px; margin: 46px 0px 0px 0px; 
  border-radius: 8px; margin-right: -10px; margin-left: -3px;">
    <form>
      <div fxLayoutAlign="space-between" fxLayout="column">
        <div fxLayout="row">
          <div contenteditable="true" placeholder="Title" class="titleNote" #title> </div>
          <div><button mat-icon-button style="position: absolute; margin-left: -43px;" (click)="isPinned = !isPinned"
              [ngClass]="isPinned ? 'solid' : 'blur'">
              <mat-icon><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path d="M16 5h.99L17 3H7v2h1v7l-2 2v2h5v6l1 1 1-1v-6h5v-2l-2-2V5z"></path>
                  <path fill="none" d="M0 0h24v24H0z"></path>
                </svg></mat-icon>
            </button></div>
        </div><br>
        <div contenteditable="true" placeholder="take a note..." class="takeNoteExpand" style="clear:left" #desc *ngIf="checkToggle === false">
        </div><br>
        <div *ngIf="checkToggle === true && array !== []">

          <div *ngFor="let item of array">
            <mat-checkbox name="checkbox" (click)="currentTick(item)">
              <div contenteditable="true" placeholder="take a note..." class="takeNoteExpand" style="clear:left"
                [innerHTML]=item.checkText></div>
            </mat-checkbox>​

          </div>
          <mat-checkbox>&nbsp;<input type="text" class="checkInput" name="check" placeholder="list" autocomplete="off" [style.backgroundColor]="index" (keydown)="nextLine($event)"
              [(ngModel)]="checkText"></mat-checkbox>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
          <div>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let item of labelUpdate; let i=index;">

                {{item.label}}
                <!-- <button mat-icon-button (click)="removeLabelChip(item,i)"><mat-icon>cancel</mat-icon></button> -->

              </mat-chip>
            </mat-chip-list>

          </div>

          <div  fxLayout="row wrap">
            <div *ngFor="let collaborator of userAddList">
            <button [matTooltip]="collaborator.collaborators.firstName+' '+collaborator.collaborators.lastName" mat-mini-fab>{{(collaborator.collaborators.firstName.split(''))[0]}}</button>
            </div>
          </div>

          <div></div>

          <div fxLayout="row wrap">
            <!-- <div *ngFor="let label of item.labelIdList"> -->
            <div *ngIf="!(remainder === '')">

              <mat-chip>
                <mat-icon>schedule</mat-icon>&nbsp; {{remainder | date: "medium"}}
                <mat-icon (click)="removeRemainder()">cancel</mat-icon>
              </mat-chip>
            </div>
            <!-- </div> -->
          </div>
        </div>

      </div>
      <div fxLayoutAlign="space-between" fxLayout="row">
        <button mat-icon-button class="commonButton">
          <app-create-remainder [allowDate]=dateFlag (addDate)="addReminder($event)"></app-create-remainder>
        </button>
        <button mat-icon-button (click)="showCollab = true && noteCard = true; finalCollab = []" class="commonButton">
          <mat-icon>person_add</mat-icon>
        </button>

        

        <!-- color palette selection -->
        <button mat-icon-button class="commonButton" [matMenuTriggerFor]="colourMenu">
          <mat-icon>palette</mat-icon>
        </button>
        <mat-menu #colourMenu="matMenu" style="border-radius: 40px;" yPosition="above" [overlapTrigger]='false'>

          <div>
            <button mat-mini-fab class="color1" (click)="changeColor(1)"></button>
            <button mat-mini-fab class="color4" (click)="changeColor(4)"></button>
            <button mat-mini-fab class="color7" (click)="changeColor(7)"></button>
            <button mat-mini-fab class="color10" (click)="changeColor(10)"></button>


            <!-- <button mat-menu-item ><button mat-mini-fab class="color1"></button></button> -->
          </div>

          <div>
            <button mat-mini-fab class="color2" (click)="changeColor(2)"></button>
            <button mat-mini-fab class="color5" (click)="changeColor(5)"></button>
            <button mat-mini-fab class="color8" (click)="changeColor(8)"></button>
            <button mat-mini-fab class="color11" (click)="changeColor(11)"></button>

            <!-- <button mat-menu-item ><button mat-mini-fab class="color1"></button></button> -->
          </div>
          <div>
            <button mat-mini-fab class="color3" (click)="changeColor(3)"></button>
            <button mat-mini-fab class="color6" (click)="changeColor(6)"></button>
            <button mat-mini-fab class="color9" (click)="changeColor(9)"></button>
            <button mat-mini-fab class="color12" (click)="changeColor(12)"></button>
            <!-- <button mat-menu-item ><button mat-mini-fab class="color1"></button></button> -->
          </div>


        </mat-menu>

        <!-- color palette ends-->



        <button mat-icon-button class="commonButton" (click)="archiveIt()">
          <mat-icon>archive</mat-icon>
        </button>
        <div fxLayoutAlign="space-between">
          <button mat-icon-button class="commonButton">
            <app-creat-note-more-option [isCheck]="labelUpdate" [alowCheck]="checkToggle" (labelAdds)="updateLabel($event)"
              (checkBox)="updateCheckList($event)">
            </app-creat-note-more-option>
          </button>

          <button mat-button (click)="noteCard = false" style="opacity: 1" (click)="addNote()" (click)="array = []"><b>close</b></button>
        </div>
      </div>
    </form>
  </mat-card>
</div>

<!--************************************************************************************************* -->
<!-- ************************************************************************************************ -->
  <div [hidden]="showCollab == false">
        <mat-card class="dialogCard">
          <div>
            <mat-card-title class="collabTitle">Collaborators</mat-card-title>
            <hr>
          </div>
          <div fxLayout="column wrap" fxLayoutGap="10px">
            <div fxLayout="row wrap" class="proPic">
              <button mat-mini-fab fxFlex="8" [ngStyle]="{ 'background-image': 'url(' + updatePic + ')', 'background-size': 'cover'}"></button>
              <div fxFlex="5"></div>
              <div fxFlex="87">
                <div><span>{{currentUserName}}<span class="owner">(Owner)</span></span></div>
                <div class="currentEmail"><span>{{currentUserEmail}}</span></div>
              </div>
            </div>
        
        
            <div *ngFor="let item of userAddList; let i=index;" >
              <div fxLayout="row wrap">
                <button mat-mini-fab fxFlex="8" [ngStyle]="{'background-color': item.proColor}">
                  <!-- <mat-icon>person_add</mat-icon> -->
                  {{item.firstLetter}}
                </button>
                <div fxFlex="5"></div>
                <div fxFlex="87" fxLayoutAlign="space-between">
        
                  <div>
                    <div><span>{{item.collaborators.firstName}} {{item.collaborators.lastName}}</span><span *ngIf="item.owner == true" class="owner">(Owner)</span></div>
                    <div class="currentEmail"><span>{{item.collaborators.email}}</span></div>
                  </div>
        
                  <!-- <div *ngIf="item.isAdded === false"><button mat-icon-button (click)="addCollabolater(item); item.isAdded = true">
                      <mat-icon>done</mat-icon>
                    </button></div> -->
        
                  <div ><button mat-icon-button (click)="deleteCollabolater(item,i)">
                      <mat-icon>cancel</mat-icon>
                    </button></div>
                </div>
              </div>
            </div>
        
        
            <div fxLayout="row wrap" class="personAdd">
              <button mat-mini-fab fxFlex="8">
                <mat-icon>person_add</mat-icon>
              </button>
              <div fxFlex="5"></div>
              <div fxFlex="87">
                <!-- <div><span>{{currentUserName}}<span class="owner">(Owner)</span></span></div>
                <div class="currentEmail"><span>{{currentUserEmail}}</span></div> -->
        
                <div>
                  <input class="collabSearch" placeholder="Person or email to share with" [(ngModel)]="searchInput"
                    [matMenuTriggerFor]="openList" (keyup)="openCollabList($event)">
                </div>
              </div>
              <div>
                <mat-menu #openList [overlapTrigger]="false" class="listMenu">
                  <mat-menu-item>
        
                    <div *ngFor="let list of userSearchList">
                      <button mat-button (click)="personSelect(list)">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="menuWidth">
                          <span>{{list.firstName}}&nbsp;</span>
                          <span>{{list.lastName}}&nbsp;&nbsp;</span>
                          <div></div>
                          <span>({{list.email}})</span>
                        </div>
                      </button>
                    </div>
        
                  </mat-menu-item>
                </mat-menu>
              </div>
            </div>
            <div></div>
        
          </div>
        
        
          <mat-card-footer class="savePanel">
            <div fxLayout="row wrap" fxLayoutAlign="end center">
              <div>
                <button mat-button (click)="closeCollab(); noteCard = true; showCollab = false">Cancel</button>
              </div>
              <div>
                <button mat-button (click)="allAddCollab(); noteCard = true; showCollab = false">Save</button>
              </div>
            </div>
          </mat-card-footer>
        
        </mat-card>
</div>

        <!--************************************************************************************************* -->
        <!-- ************************************************************************************************ -->