<button class="touchBut" mat-icon-button (click)="$event.stopPropagation()" (click)="saveButtonFlag = false" (click)="flag = false" [matMenuTriggerFor]="remainderMenu">
  <mat-icon>notifications</mat-icon>
</button>

<mat-menu #remainderMenu (click)="$event.stopPropagation()">

  <div *ngIf="flag === false">
    <p>Remainder:</p>
    <button mat-menu-item (click)="quickRemainder('8:00 PM')">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>Later today</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>8:00PM</span>
      </div>
    </button>
    <button mat-menu-item (click)="quickRemainder('8:00 AM')">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>Tomorrow</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>8:00AM</span>
      </div>
    </button>
    <button mat-menu-item (click)="quickRemainder('MON, 8:00 AM')">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <span>Next week</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Mon, 8:00AM</span>
      </div>
    </button>
    <button mat-menu-item (click)="$event.stopPropagation()" (click)="flag = true" (click)="pickTime = '6:00 AM'">
      <div fxLayout="row wrap">
        <span>
          <mat-icon>schedule</mat-icon>
        </span>
        <span>Pick data & time</span>
      </div>
    </button>
  </div>

  <div *ngIf="flag === true">
    <div fxLayout="row wrap">
      <button mat-icon-button (click)="$event.stopPropagation()" (click)="flag = false">
        <mat-icon>arrow_back</mat-icon>
      </button><span>Pick date & time</span>

    </div>
    <hr>
    <mat-form-field>
      <input matInput (click)="$event.stopPropagation()" [matDatepicker]="picker" [min]="currentDate" [(ngModel)]="setDate" [formcontrol]="date">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div fxLayout="row">
      <div>
      <mat-form-field>
      <input matInput (click)="$event.stopPropagation()" [matMenuTriggerFor]="timeMenu" [(ngModel)]="pickTime" [value]="pickTime"  (keydown)=press($event) (keyup)="disableSave($event)">
      </mat-form-field>
      </div>
      <!-- <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="timeMenu"> -->
      <mat-icon (click)="$event.stopPropagation()" [matMenuTriggerFor]="timeMenu" >keyboard_arrow_down</mat-icon>
    
      <!-- </button> -->
      
    </div>

    <button mat-button (click)="pickSetTime(null)" style="float: right" [disabled]="saveButtonFlag === true">Save</button>

    <mat-menu #timeMenu [overlapTrigger]=false>
      <div fxLayout="column">
        <button mat-button (click)="pickSetTime('8:00 AM')" (click)="$event.stopPropagation()" [disabled]="dateDisable1 === true">
          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <span fxFlex="30">Morning</span>
            <span fxFlex="37"></span>
            <span fxFlex="33">8:00 AM</span>
          </div>
        </button>
        <button mat-button (click)="pickSetTime('1:00 PM')" (click)="$event.stopPropagation()" [disabled]="dateDisable2 === true">
          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <span fxFlex="30">Afternoon</span>
            <span fxFlex="37"></span>
            <span fxFlex="33">1:00 PM</span>
          </div>
        </button>
        <button mat-button (click)="pickSetTime('6:00 PM')" (click)="$event.stopPropagation()" [disabled]="dateDisable3 === true">
          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <span fxFlex="30">Evening</span>
            <span fxFlex="37"></span>
            <span fxFlex="33">6:00 PM</span>
          </div>
        </button>
        <button mat-button (click)="pickSetTime('8:00 PM')" (click)="$event.stopPropagation()" [disabled]="dateDisable4 === true">
          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <span fxFlex="30">Night</span>
            <span fxFlex="37"></span>
            <span fxFlex="33">8:00 PM</span>
          </div>
        </button>
        <button mat-button (click)="$event.stopPropagation()" (click)="customSet()">custom</button>

      </div>

      
    </mat-menu>
  </div>
</mat-menu>