@import '../../../scss/mixin';
@import '../../../scss/variable';

/* [contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox 
  } */
  .touchBut{
    opacity: 0.7;

    :hover{
      opacity: 1;
    }
  }
  

  .timeSet{
      // position: abssolute;
    font-size: 17px;
    @include margin(0,0,0,-17px);
  }