@import '../../../scss/variable';
@import '../../../scss/mixin';
 
.navbar{
  position: absolute;
  top: 65px;
  bottom: 0;
  left: -15px;
  right: 0;
  @include bg-color($white_color);
}

.toolbar{
  @include bg-color($yellow);
  /* height: 64px; */
  position: fixed;
  z-index: 2;
  @include width(100.5%);
  // margin: -9px 0px 0px -12px;
  @include margin(-9px,0,0,-12px);
  @include height(7vh);
  
}

.labelList, .topTitle{

  // white-space: nowrap;
  // text-overflow: ellipsis;
  // overflow: hidden !important;
  @include wrap;
  // width: 200px
}

.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  @include border-radius(2px);
  outline: 0;
  /* padding: 14px; */
  @include border-radius(9px);
}

::ng-deep.mat-menu-content:not(:empty) {
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 11px;
}

.sidebar{
  @include width(290px);
  @include height(100%);
}

.toolHeader{

  /* font-size: 20px; */
  font-family: 'Roboto Slab';
  font:bold;
  // margin: 0px 0px 0px 9px;
  @include margin(0,0,0,9px);
//   white-space: nowrap;
// text-overflow: ellipsis;
// overflow: hidden !important;
@include wrap;
@include width(200px);
}

.keepHead{

@extend .toolHeader;
@include margin(0,0,0,2px);
}

.uu{
  max-width: 100px;
}

.menu, .searchForm{
  /* font-size: 2vw; */
  /* margin: 8px 10px 29px 28px; */
   width: 100%;

}

.sidenav-container {
/* margin-top: 60px; */
  flex:1 0 auto;
  /* height: fit-content; */
  // margin: -7px -9px 0px -8px;
  @include margin(-7px,-9px,0,-8px);
  /* background: lightgrey; */
  min-height: max-content;
  
}

 .profileFab{

  height: 93px;
  width: 93px
} 

// .searchForm{
//   width: 100%;

//   /* padding: 5%; */
// }

.searchInput{

@extend .expandSearch;
// padding: 0px 0px 0px 50px;
@include padding(0,0,0,50px);
@include bg-color($yellow_shadow);

    :hover{
      @include bg-color($white_color);
    }

}

.expandSearch{
width: 100%;
border: none;
@include border-radius;
// padding: 0px 0px 0px 50px;

}

// .searchInput:focus{
//   /* width: 100%;
//  border-radius: 6px;
//  padding: 10px; */
//  background: rgb(255, 255, 255);
//  }

.searchIcon{


  position: relative;
  z-index: 2;

}

.searchIconNew{
  /* margin: 15px 0px 0px 0px; */
  @include height;
  float: right;

}

.content{

  @include margin;
  z-index: -1;

}

.searchButtonNew{

  float: right;
  position: relative;

}

.uploadButton{

  @include border-radius;
  @include bg-color($lightSkyBlue_color);
}

.logoutButton{
  // border-radius: 5px;
  @extend .uploadButton;
  @include bg-color($lightRed_color);

}

.accountMenu{

  @include margin(10px);
  @include border-radius(10px);
}

.sidenav {
  @include width(250px);
  /* margin: 64px 0px 0px 0px; */
  @include bg-color($lightGrey_color);
  position: fixed;
  z-index: 2;
  @include margin(41px);


}

.account{

  font-size: 12px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.toolbarTools{
  @include bg-color($yellow);

}

.menuList, .list{
  top: 64px;
}

.userName{

    @include margin(24px,0,0,33px);
}

.userEmail{

  @include margin(10px);
}

::ng-deep .material-tooltip {
  white-space: pre-line;
  max-width: 500px !important;
}