<div fxFlex>
  <div fxLayout="column wrap" class="container1" fxLayoutGap="40px">
    <div fxFlex="18">
      <mat-toolbar class="toolbar" fxLayout="row" ngStyle.xs=" height: 43px" ngStyle.sm=" height: 49px" ngStyle.md="height: 55px"
        ngStyle.lg="height: 64px">
        <div fxFlex="15" fxLayout="row">
          <button matTooltip="Menu" style="outline:none" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            ngStyle.xs="font-size:10px" ngStyle.sm="font-size:15px" ngStyle.md="font-size:20px" ngStyle.lg="font-size:30px">
            <mat-icon ngStyle.xs="font-size:10px" ngStyle.sm="font-size:15px" ngStyle.md="font-size:20px" ngStyle.lg="font-size:30px"
              class="menu" aria-label="Side nav toggle icon">menu</mat-icon>
          </button>

          <span class="uu" [hidden]="(isHandset$ | async) ? true : false && enableSearch === true" ngStyle.xs="font-size:14px;"
            ngStyle.sm="font-size:16px" ngStyle.md="font-size:20px" ngStyle.lg="font-size:22px">
            <span class="toolHeader">{{topTitle}}</span></span>
          &nbsp;&nbsp;<span class="uu" [hidden]="enableSearch === true" ngStyle.xs="font-size:12px" ngStyle.sm="font-size:17px" ngStyle.md="font-size:20px"
            ngStyle.lg="font-size:22px"><div class="keepHead" [innerHTML]="keepTitle"></div></span>
        </div>

        <div *ngIf="enableSearch === true" [hidden]="(isHandset$ | async) ? false : true">
            <input name=expandedSearch (click)="$event.stopPropagation()" class="expandSearch" selected [(ngModel)]="searchInput" (keyup)="pressSearch()" ngStyle.xs="font-size:12px; height:36px;" ngStyle.sm="font-size:17px; height:33px"
            ngStyle.md="font-size:22px; height:38px" ngStyle.lg="font-size:25px; height:43px" (keyup)="closeSearchInput($event)" (click)="searchNotes()">
          </div>

        <div fxFlex="65" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
          ngStyle.lg="font-size:25px;">
          <div fxLayout="row" fxLayoutAlign="center center">
            <form class="searchForm" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
              ngStyle.lg="font-size:25px;">

              <div fxFlex="10"></div>
              <div fxFlex="55" style="background-color:#e4a700; border-radius: 5px;" [hidden]="(isHandset$ | async) ? true : false">
                <div style="float:left; position: absolute;" fxLayoutAlign="center center">
                  <button matTooltip="Search" style="outline:none" type="button" mat-icon-button ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;"
                    ngStyle.md="font-size:22px;" ngStyle.lg="font-size:25px;">
                    <mat-icon aria-label="searchIcon" class="searchIcon" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;"
                      ngStyle.md="font-size:22px;" ngStyle.lg="font-size:25px;">search</mat-icon>
                  </button>
                </div>
               
                <div [hidden]="(isHandset$ | async) ? true : false">
                  <input matTooltip="Search"  name="searching" style="outline:none" autocomplete="off" class="searchInput" matInput type="search"
                    placeholder="Search" ngStyle.xs="font-size:12px; height:28px;" ngStyle.sm="font-size:17px; height:33px"
                    ngStyle.md="font-size:22px; height:38px" ngStyle.lg="font-size:25px; height:43px" [(ngModel)]="searchInput"
                    (click)="searchNotes(); enableSearch = !enableSearch" (keyup)="pressSearch()">
                </div>
                
              </div>

              <div fxFlex="5"></div>

              <div fxFlex="75" [hidden]="(isHandset$ | async) ? false : true">
                <button style="outline:none" (click)="enableSearch = true; searchInput = ''; searchNotes()" type="button" class="searchButtonNew" mat-icon-button>
                  <mat-icon aria-label="searchIcon" class="searchIconNew" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;"
                    ngStyle.md="font-size:22px;" ngStyle.lg="font-size:25px;">search</mat-icon>
                </button>
                
              </div>

              

              <!-- <mat-menu #searchMenu>
                <div [hidden]="enableSearch === false">
                  <input name=expandedSearch (click)="$event.stopPropagation()" class="expandSearch" autofocus ngStyle.xs="font-size:12px; height:28px;" ngStyle.sm="font-size:17px; height:33px"
                  ngStyle.md="font-size:22px; height:38px" ngStyle.lg="font-size:25px; height:43px" (click)="searchNotes()" [(ngModel)]="searchInput" (keyup)="pressSearch()">
                </div>
              </mat-menu> -->

            </form>
          </div>
        </div>
        <!-- <div fxFlex="35" ngStyle.xs="" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;" ngStyle.lg="font-size:25px;">

      </div> -->
        <div fxFlex="5" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
          ngStyle.lg="font-size:25px;">
          <button matTooltip="refresh" style="outline:none" class="refresh" (click)="imageReloader" mat-icon-button>
            <mat-icon aria-label="refresh" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px;" ngStyle.md="font-size:22px;"
              ngStyle.lg="font-size:25px;">refresh</mat-icon>
          </button>
          <!-- <mat-spinner [hidden]="!imageReloader" aria-label="refresh" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
              ngStyle.lg="font-size:25px;"  ></mat-spinner> -->

        </div>
        <div fxFlex="10" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
          ngStyle.lg="font-size:25px;" *ngIf="listView === false">
          <button matTooltip="List View" style="outline:none" mat-icon-button class="gridView" (click)="listSwitcher()">
            <mat-icon aria-label="viewList" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px;" ngStyle.md="font-size:22px;"
              ngStyle.lg="font-size:25px;">view_stream</mat-icon>
          </button>
        </div>

        <div fxFlex="10" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
          ngStyle.lg="font-size:25px;" *ngIf="listView === true">
          <button matTooltip="Grid View" style="outline:none" mat-icon-button class="gridView" (click)="listSwitcher()">
            <mat-icon aria-label="viewList" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px;" ngStyle.md="font-size:22px;"
              ngStyle.lg="font-size:25px;">view_module</mat-icon>
          </button>
        </div>
        <!-- <div fxFlex="5" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
          ngStyle.lg="font-size:25px;">
          <button style="outline:none" mat-icon-button class="notification">
            <mat-icon aria-label="notification" ngStyle.xs="font-size:12px;" ngStyle.sm="font-size:17px,;" ngStyle.md="font-size:22px;"
              ngStyle.lg="font-size:25px;">notifications</mat-icon>
          </button>
        </div> -->
        <div fxFlex="5">
          <button [matTooltip]="account" style="outline:none" ngStyle.xs="width: 18px; height: 18px; margin-top:10px" ngStyle.sm="width: 27px; height: 27px;" ngStyle.md="width: 34px; height: 34px;"
          ngStyle.lg="width: 50px; height: 50px;"
          
            [ngStyle]="{ 'background-image': 'url(' + updatePic + ')', 'background-size': 'cover'}"
            
            mat-mini-fab [matMenuTriggerFor]='menu' class="account">
            <!-- <button mat-mini-fab ></button> -->
          </button>
          <mat-menu #menu="matMenu" (click)="$event.stopPropagation()" [overlapTrigger]=false style="background-color:rgb(255, 162, 162); position: relative; ">

            <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div>
              <button mat-fab matTooltip="Change Profile Pic" (click)=changePic.click() class="profileFab" (click)="$event.stopPropagation()" [ngStyle]="{'font-size': '25px;' ,'background-image': 'url(' + updatePic + ')', 'background-size': 'cover'}"></button>
            </div>
            <div fxLayout="column">
            <div class="userName">
              {{currentUser}}
            </div>
            
            <div class="userEmail">
              {{currentEmail}}
            </div>
            </div>
            </div>
            <hr>
            <div fxLayout="row wrap" fxLayoutAlign="space between" class="accountMenu">

              <button mat-raised-button (click)=changePic.click() class="uploadButton">
              <mat-icon aria-label="account_Setting" >file_upload<input type="file" (change)=changeProPic($event)
                  (click)="$event.stopPropagation()" style="display: none" value="Uploads Pic" #changePic></mat-icon>&nbsp;Upload Image
               </button>

              <hr>
              <button matTooltip="Logout" style="outline:none" mat-raised-button (click)="logout()" class="logoutButton">
                <mat-icon aria-label="logout">logout</mat-icon>&nbsp;&nbsp;Logout
              </button>
            </div>
          </mat-menu>

        </div>



      </mat-toolbar>
    </div>

    <div fxFlex="82" >
      <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
        <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
           >
          <mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
            <br>
            <a class="selectedTab" mat-list-item [style.backgroundColor]="tabColor1" (click)="topTitle = 'Fundoo'; keepTitle = 'Keep'; tabFlag = true; changeTabColor('/home')" [routerLink]="['/home']" routerLinkActive="router-link-active">
              <mat-icon aria-label="notes" fxFlex="30">lightbulb</mat-icon><span fxFlex="70">Notes</span>
            </a>
            <a class="selectedTab" mat-list-item [style.backgroundColor]="tabColor2" (click)="tabFlag = true; changeTabColor('/reminders')" [routerLink]="['/reminders']" routerLinkActive="router-link-active">
              <mat-icon aria-label="touch app" fxFlex="30">touch_app</mat-icon>
              <span fxFlex="70">Reminders</span>
          </a>
            <hr>
            <!-- <p> &nbsp;&nbsp;&nbsp;Labels
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
                mat-icon-button>EDIT</button></p> -->


            <div *ngFor="let item of arr; let i = index;">
              <!-- <div fxLayout="row wrap" fxLayoutAlign="space between"> -->

              <a [matTooltip]="'Show Label'+' ' + item.label" mat-list-item [ngClass]="tabFlag == item.label ? 'selectedTab':'unselectedTab'" (click)="showlabelList(item); changeLabelTab(item.label)">
                <!-- <div fxLayoutAlign="space between"> -->
                <mat-icon fxFlex="15">label_outline</mat-icon>
                <span class="labelList" fxFlex="85">{{item.label}}</span>
                <!-- </div> -->
              </a>
              <!-- </div> -->
            </div>

            <a matTooltip="Edit or Create Label" mat-list-item (click)="addLabel()">
              <mat-icon aria-label="plus" fxFlex="30">add</mat-icon>
              <span>Edit/Create new label</span>
            </a>
            <hr>

            <a matTooltip="Show Archive" mat-list-item [style.backgroundColor]="tabColor3" (click)="topTitle = ''; keepTitle = 'Archive'; changeTabColor('/archive')" [routerLink]="['/archive']" routerLinkActive="router-link-active">
              <mat-icon aria-label="archive" fxFlex="30">archive</mat-icon>
              Archive
            </a>

            <a matTooltip="Show Trash" mat-list-item [style.backgroundColor]="tabColor4" (click)="topTitle = ''; keepTitle = 'Trash'; changeTabColor('/trash')" [routerLink]="['/trash']" routerLinkActive="router-link-active">
              <mat-icon aria-label="trash" fxFlex="30">delete</mat-icon>
              Trash
            </a>
            <hr>

            <!-- <a mat-list-item>
              <mat-icon aria-label="setting">settings</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Settings
            </a>

            <a mat-list-item>
              <mat-icon aria-label="feedback">feedback</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Send feedback
            </a>

            <a mat-list-item>
              <mat-icon aria-label="help">help</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Help
            </a> -->

          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content ngStyle.xs="font-size:12px" ngStyle.sm="font-size:17px" ngStyle.md="font-size:22px"
          ngStyle.lg="font-size:25px" class="content">
          <router-outlet (reloaderUpdate)="updateReload($event)" ></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>


<!-- <mat-icon>lightbulb_outline</mat-icon> -->