
<br>
<mat-card style="width: -webkit-fill-available;  height: -webkit-fill-available; background: lightgray; margin-top: -17px;" >
  <div fxLayout="column" class="dash" >

     <div fxFlex="15" fxLayout="row" fxLayoutAlign="center center" >

      <!-- <router-outlet name="createnote"></router-outlet> -->
      <app-create-note></app-create-note>


    </div>

    <div fxFlex="85" (click)="noteCard = false">
      <br><br>
      <div fxLayoutAlign="center center">
        <mat-card>
          <div>

          </div>
        </mat-card>
      </div>
    </div>


  </div>
  <!-- <mat-card-title>hello card</mat-card-title>
<mat-card-content>content are here</mat-card-content> -->
</mat-card>
