<!-- <mat-card style="width: 100%; height: 100%">


</mat-card> -->
<!-- <p>welcome to google</p> -->

<div fxLayout="column" class="dash">



  <div fxFlex>
    <p></p>
  </div>
  <div fxFlex>
    <p>welcome to party</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
  <div fxFlex>
    <p>welcome to google</p>
  </div>

  <div fxFlex>
    <p>welcome to google</p>
  </div>
</div>
