
<br>
<!-- <mat-card style="width: auto;  height: -webkit-fill-avalible; background: lightgray; margin-top: -17px;" > -->
  <div fxLayout="column" fxLayoutAlign="space-between">
    <div></div>
    <div></div>
    <div></div>

     <div fxFlex="15" fxLayout="row" class="createNote" fxLayoutAlign="center center" >

      <!-- <router-outlet name="createnote"></router-outlet> -->
      <app-create-note  [note]="arr" (open)="updateNotes($event)"></app-create-note>


    </div>

    <!-- <div fxFlex="85" fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="20px"> -->

      
      <br>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
          <!-- <div *ngFor="let item of arr"> -->

            <div class="sk-circle" *ngIf="spinnerStatus == false">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
        <app-notes *ngIf="spinnerStatus == true"  [model]= "pinnedArr" [pinHead]="pinnedCase" (updateList)= "reload($event)"></app-notes>
        

      </div>
      <!-- </div> -->
      <br>
      <br>
      <!-- <div ></div>
      <div></div> -->
      <!-- <br><br> -->

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
          <!-- <div *ngFor="let item of arr"> -->


           
        <app-notes *ngIf="spinnerStatus == true" [model]= "unpinnedArr" [pinHead]="unpinnedCase" (updateList)= "reload($event)"></app-notes>

      </div>
      <!-- </div> -->
    </div>


  <!-- </div> -->
  <!-- <mat-card-title>hello card</mat-card-title>
<mat-card-content>content are here</mat-card-content> -->
<!-- </mat-card> -->
