<div fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
  <div *ngFor="let item of model">


    <mat-card style="width: 340px; margin: 15px; border-radius: 8px" [style.backgroundColor]="item.color">
      <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-card-title [innerHTML]="item.title" (click)="openDialog(item)">

      </mat-card-title><button mat-icon-button (click)="isPinned = !isPined" style="opacity: 0.4">
          <mat-icon>fiber_pin</mat-icon>
        </button>
        </div>
      <mat-card-content class="messgCard" [innerHTML]="item.description" (click)="openDialog(item)">

      </mat-card-content>
      <div class="panal">
        <button mat-icon-button class="touchBut">
          <mat-icon>touch_app</mat-icon>
        </button>&nbsp;&nbsp;
        <button mat-icon-button class="addBut">
          <mat-icon>person_add</mat-icon>
        </button>&nbsp;&nbsp;
        <app-palette (resp)="updateBackground($event)" [newColor]="item"></app-palette>&nbsp;&nbsp;
        <app-create-archive [archiveInput]="item.id" (reloadNote)= archiveNote($event)></app-create-archive>&nbsp;&nbsp;
        <app-more-options [noteId]="item.id" (update)="deleteNote($event)"></app-more-options>
        <!-- <button mat-icon-button class="moreBut" [matMenuTriggerFor]="menu" ><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item >Delete Note</button>
        <button mat-menu-item>Add Label</button>
        <button mat-menu-item>Make a Copy</button>
      </mat-menu> -->
      </div>
    </mat-card>

  </div>
</div>
