<mat-card>
  <mat-card-title>
    {{model["title"]}}
  </mat-card-title>
  <mat-card-content class="messgCard">
    {{model["description"]}}
  </mat-card-content>
  <div class="panal">
      <button mat-icon-button class="touchBut"><mat-icon>touch_app</mat-icon></button>&nbsp;&nbsp;
      <button mat-icon-button class="addBut"><mat-icon>person_add</mat-icon></button>&nbsp;&nbsp;
      <button mat-icon-button class="colorBut"><mat-icon>palette</mat-icon></button>&nbsp;&nbsp;
      <button mat-icon-button class="archiveBut"><mat-icon>archive</mat-icon></button>&nbsp;&nbsp;
  </div>
</mat-card>
