.touchBut{
  opacity: 0.7;
}
.touchBut:hover{
  opacity: 6;
}

.addBut{
  opacity: 0.7;
}
.addBut:hover{
  opacity: 6;
}

.colorBut{
  opacity: 0.7;
}
.colorBut:hover{
  opacity: 6;
}

.archiveBut{
  opacity: 0.7;
}
.archiveBut:hover{
  opacity: 6;
}

.panal {
  opacity: 0;
  position: relative
}

.panal:hover{
  opacity: 0.7;
  position: relative
}

.messgCard {
  word-wrap: break-word;
}

.noteCardcolor1{
  background: white;
}

.dialogContainerNew {
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  display: block;
  padding: 0;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  overflow-y: hidden;
}

.gridCardView{

  width: 351px;
  margin: 10px; 
  border-radius: 8px;
  margin-left: 18px;
}

.listCardView{

  width: 800px;
  margin: 10px; 
  border-radius: 8px;
  margin-left: 18px;
}

.labelCancel{

  opacity: 0.3;
}

.labelCancel:hover{

  opacity: 0.7;
}

.labelChip{
  white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden !important;

}

.width{
  
  max-width: 116px;
}

// .labelChip:hover{
//   opacity: 1;
// }