// .touchBut{
//   opacity: 0.7;
// }

@import '../../../scss/mixin';
@import '../../../scss/variable';


// .touchBut:hover{
//   opacity: 1;
// }

.addBut, .touchBut .colorBut, .archiveBut{
  opacity: 0.7;

  :hover{
    opacity: 1;
  }
}
// .addBut:hover{
//   opacity: 1;
// }

// .colorBut{
//   opacity: 0.7;
// }
// .colorBut:hover{
//   opacity: 1;
// }

// .archiveBut{
//   opacity: 0.7;
// }
// .archiveBut:hover{
//   opacity: 1;
// }

.panal {
  opacity: 0;

  :hover{
    opacity: 0.7;
    position: relative
  }
}

.panal:hover{
  opacity: 0.7;
  position: relative
}

.messgCard {
  word-wrap: break-word;
}

.noteCardcolor1{
  background: white;
}

.dialogContainerNew {
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  display: block;
  @include padding;
  @include border-radius(2px);
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  @include width(100%);
  @include height(100%);
  min-height: inherit;
  max-height: inherit;
  overflow-y: hidden;
}

.gridCardView{

  @include width(351px);
  @include margin(10px, 18px); 
  @include border-radius(8px);
  // margin-left: 18px;
}

.listCardView{

  // width: 800px;
  @extend .gridCardView;
  @include width(800px);
}

.labelCancel{

  opacity: 0.3;

  :hover{
    opacity: 0.7;
  }
}

// .labelCancel:hover{

//   opacity: 0.7;
// }

.labelChip{
  @include wrap;

}

.width{
  
  max-width: 116px;
}

// .labelChip:hover{
//   opacity: 1;
// }

.blur{
  opacity: 0.3;
}

.solid{
  opacity: 1;
}