<mat-card class="dialogCard">
  <div>
    <mat-card-title class="collabTitle">Collaborators</mat-card-title>
    <hr>
  </div>
  <div fxLayout="column wrap" fxLayoutGap="10px">
    <div fxLayout="row wrap">
      <button mat-mini-fab fxFlex="8" [ngStyle]="{ 'background-image': 'url(' + updatePic + ')', 'background-size': 'cover'}"></button>
      <div fxFlex="5"></div>
      <div fxFlex="87">
        <div><span>{{data.user.firstName}} {{data.user.lastName}}<span class="owner">(Owner)</span></span></div>
        <div class="currentEmail"><span>{{data.user.email}}</span></div>
      </div>
    </div>


    <div *ngFor="let item of userAddList; let i=index;" >
      <div fxLayout="row wrap">
        <button mat-mini-fab fxFlex="8" [ngStyle]="{'background-color': item.proColor}">
          <!-- <mat-icon>person_add</mat-icon> -->
          {{item.firstLetter}}
        </button>
        <div fxFlex="5"></div>
        <div fxFlex="87" fxLayoutAlign="space-between">

          <div>
            <div><span>{{item.collaborators.firstName}} {{item.collaborators.lastName}}</span><span *ngIf="item.owner == true" class="owner">(Owner)</span></div>
            <div class="currentEmail"><span>{{item.collaborators.email}}</span></div>
          </div>

          <div *ngIf="item.isAdded === false && item.collaborators.userId !== currentUserId"><button mat-icon-button (click)="addCollabolater(item); item.isAdded = true">
              <mat-icon>done</mat-icon>
            </button></div>

          <div *ngIf="item.isAdded === true && item.collaborators.userId !== currentUserId"><button mat-icon-button (click)="deleteCollabolater(item,i)">
              <mat-icon>cancel</mat-icon>
            </button></div>
        </div>
      </div>
    </div>


    <div fxLayout="row wrap">
      <button mat-mini-fab fxFlex="8">
        <mat-icon>person_add</mat-icon>
      </button>
      <div fxFlex="5"></div>
      <div fxFlex="87">
        <!-- <div><span>{{currentUserName}}<span class="owner">(Owner)</span></span></div>
        <div class="currentEmail"><span>{{currentUserEmail}}</span></div> -->

        <div>
          <input class="collabSearch" placeholder="Person or email to share with" [(ngModel)]="searchInput"
            [matMenuTriggerFor]="openList" (keyup)="openCollabList($event)">
        </div>
      </div>
      <div>
        <mat-menu #openList [overlapTrigger]="false" class="listMenu">
          <mat-menu-item>

            <div *ngFor="let list of userSearchList">
              <button mat-button (click)="personSelect(list)">
                <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="menuWidth">
                  <span>{{list.firstName}}&nbsp;</span>
                  <span>{{list.lastName}}&nbsp;&nbsp;</span>
                  <div></div>
                  <span>({{list.email}})</span>
                </div>
              </button>
            </div>

          </mat-menu-item>
        </mat-menu>
      </div>
    </div>
    <div></div>

  </div>


  <mat-card-footer class="savePanel">
    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <div>
        <button mat-button (click)="closeDialog()">Cancel</button>
      </div>
      <div>
        <button mat-button (click)="allAdd()">Save</button>
      </div>
    </div>
  </mat-card-footer>

</mat-card>