@import '../../../scss/mixin';
@import '../../../scss/variable';

.backButton{

    float: right;
    @include margin(20px,20px);
    @include bg-color($lightGrey_color);
    @include border-radius;
    
}

.titleHead{

    font-size: 20px;
    @include margin(22px);
    font-weight: bold;
    // @include width(100%);
}

.description{
    @include margin(56px,0, 0, -58px);
    @include width(100%);
}

.addQues{

    // font-size: 10px;
}

.quesForm{

    font-size: 18px;
    @include width(100%)
}

.userName{

    font-size: 15px

}

.contentBody{

    @include padding(0,0,0,14px)
}

.starRating{

    font-size: 16px;
    
}

.liked{
    @include text-color($lightGrey_color)
}

.unLiked{
    @include text-color($lightBlue_color)
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
  }
  
  div[contenteditable=true] {
    border: none;
    @include height;
    font-size: 18px;
    @include width(486px);
    outline: none;
    @include padding(10px);
  }

  .replyInput{

    // border-color: $lightGrey_color;
    resize: none;

  }

  textarea[name=replyInput]{
      resize: none;
      border: none;
  }