@import '../../../scss/mixin';
@import '../../../scss/variable';


.topDiv{

    position: fixed;
    @include bg-color($white_color);
    @include margin(-17px);
    z-index: 3;
    @include height(250px);
    overflow-y: scroll;
    box-shadow: 0px 5px 15px 5px $lightGrey_color;
    // width: 200px;
}

.bottomDiv{

    @include margin(240px);
    
}

// .container{

//     // @include margin(20px);
// }

.backButton{

    // float: right;
    @include margin(20px);
    @include bg-color($lightGrey_color);
    @include border-radius;
    @include height(37px);
    
}

.titleHead{

    font-size: 20px;
    @include margin(22px);
    font-weight: bold;
    // @include width(100%);
}

.description{
    @include margin(56px,0, 0, 0);
    @include width(100%);
}

.addQues{

    // font-size: 10px;
}

.quesForm{

    font-size: 18px;
    @include width(100%)
}

.quesText{

    font-size: 17px;
}

.mainQuesText{
    font-size: 30px;
}

.userName{

    font-size: 15px;

}

.contentBody{

    @include padding(0,0,0,14px)
}

.starRating{

    font-size: 16px;
    @include margin(0,0,0,25px);
    
}

.liked{
    @include text-color($lightGrey_color)
}

.unLiked{
    @include text-color($lightBlue_color)
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
  }
  
  div[contenteditable=true] {
    border: none;
    @include height;
    font-size: 18px;
    @include width(486px);
    outline: none;
    @include padding(10px);
  }

  .replyInput{

    // border-color: $lightGrey_color;
    resize: none;

  }

  textarea[name=replyInput]{
      resize: none;
      border: none;
      
  }

  .firstLevelReply{

    @include margin(15px,0,0,55px)
  }

  .questDiv{

    @include margin(60px);
  }

  .ratingText{

    font-size: 16px;
  }

  
   .fixedTop{

    @include padding(16px,0,0,10px)
  }

  .checkText{

    @include margin(0,0,0,20px)
  }
  
  @media screen and (max-width: 599px){
    .topDiv{

        position: fixed;
    @include bg-color($white_color);
    @include margin(-17px);
    z-index: 3;
    @include height(150px);
    overflow-y: scroll;
        }

    .bottomDiv{

        @include margin(135px)
    }
    }
    
    @media screen and (min-width: 600px) and (max-width: 959px){
    
        .topDiv{

            position: fixed;
        @include bg-color($white_color);
        @include margin(-17px);
        z-index: 3;
        @include height(150px);
        overflow-y: scroll;
            }
    
        .bottomDiv{
    
            @include margin(135px)
        }
    }
    
    @media screen and (min-width: 960px) and (max-width: 1279px){
    
        .topDiv{

            position: fixed;
        @include bg-color($white_color);
        @include margin(-17px);
        z-index: 3;
        @include height(150px);
        overflow-y: scroll;
            }
    
        .bottomDiv{
    
            @include margin(135px)
        }
    }
    
    @media screen and (min-width: 1280px) and (max-width: 1919px){
    
      .dialogCard{
        font-size:17px;
        max-width: 441px;
        margin: 38px -10px 0px -3px; 
        border-radius: 8px;
      }
    }
    
    
    
    @media screen and (min-width: 1920px) and (max-width: 5000px){
    
      .dialogCard{
        font-size:17px;
        max-width: 441px;
        margin: 38px -10px 0px -3px; 
        border-radius: 8px;
      }
    }