<br>

<div class="sk-circle" *ngIf="spinnerStatus == false">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>

<div *ngIf="note != undefined && spinnerStatus == true" fxLayout="row wrap" fxLayoutAlign="center start">
  <!-- <div fxFlex="20"></div> -->
  <div class="container" fxFlex.xl="1100px" fxFlex.lg=1100px fxFlex.md="800px" fxFlex.sm="100%" fxFlex.xs="100%">
    <div class="topDiv">

      <!-- <p>swsw</p> -->
      <div fxLayout="row wrap">
        <div class="fixedTop" fxFlex.xl="990px" fxFlex.lg=1037px fxFlex.md="713px" fxFlex.sm="680px" fxFlex.xs="287px"
          *ngIf="note != undefined" fxLayout="row wrap">
          <div class="titleHead" [innerHTML]="note.title"></div>
          <div *ngIf="(note.description != undefined)" class="description" [innerHTML]="note.description"></div>

          <div class="messgCard" *ngIf="note.noteCheckLists.length !== 0">

            <div *ngFor="let checklists of note.noteCheckLists;  let j=index">
              <div *ngIf="checklists.isDeleted === false">
                <div fxLayout="row">
                  <mat-checkbox fxFlex="10" [checked]="checklists.status === 'close'" (click)="checklists.status === 'close' ? (checklists.status = 'open') : (checklists.status = 'close')">

                  </mat-checkbox>
                  <div class="checkText" fxFlex="90" [innerHTML]="checklists.itemName" #itemName>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div fxFlex.xl="85px" fxFlex.lg=85px fxFlex.md="85px" fxFlex.sm="85px" fxFlex.xs="80px" fxLayoutAlign="end"
          class="backButton">
          <button mat-button (click)="backToNotes()">Close</button>
        </div>

      </div>

      <mat-divider></mat-divider>

    </div>

    <div class="bottomDiv">
      <div *ngIf="note.questionAndAnswerNotes.length == 0 ">
        <span>Ask A Question</span>
      </div>
      <div *ngIf="note.questionAndAnswerNotes.length == 0">
          <div [froalaEditor] [(froalaModel)]="editorContent" ></div>
          <button mat-button (click)="addQuestion()">ask</button>
        <!-- <mat-form-field class="quesForm">
          <input matInput class="addQues" autofocus="false" placeholder="What is your Question?" [(ngModel)]="questionAsk"
            (keydown)="addQuestion($event)">
        </mat-form-field> -->
      </div>
      <br>
      <!-- <div fxLayout="column wrap" > -->
      <div *ngIf="note.questionAndAnswerNotes.length != 0">
        <div *ngIf="note.questionAndAnswerNotes[0].parentId == undefined">
          <div fxLayout="row" *ngIf="note.questionAndAnswerNotes.length != 0">
            <button mat-fab [ngStyle]="{ 'background-image': 'url(' + quesPic + ')', 'background-size': 'cover'}"></button>
            <div class="contentBody">
              <div fxLayout="row">
                <div class="userName" [innerHTML]="note.user.firstName +' '+note.user.lastName"></div>
                &nbsp;&nbsp;&nbsp;
                <br>
                <div class="userName" [innerHTML]="dateTimeStatus[0]"></div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div class="mainQuesText" style="margin-top: 0px" [innerHTML]="note.questionAndAnswerNotes[0].message"></div>
                <div><button mat-icon-button (click)="showReplyInput[0] = !showReplyInput[0]">
                    <mat-icon>reply</mat-icon>
                  </button></div>

                <div *ngIf="note.questionAndAnswerNotes[0].like.length != 0"><button mat-icon-button (click)="likeUnLikeit(!note.questionAndAnswerNotes[0].like[0].like,note.questionAndAnswerNotes[0].id,0 )">
                    <mat-icon [ngClass]="note.questionAndAnswerNotes[0].like[0].like == true ? 'unLiked':'liked'">thumb_up</mat-icon>
                  </button></div>
                <div *ngIf="note.questionAndAnswerNotes[0].like.length == 0"><button mat-icon-button (click)="likeUnLikeit(true,note.questionAndAnswerNotes[0].id,0)">
                    <mat-icon [ngClass]="false ? 'unLiked':'liked'">thumb_up</mat-icon>
                  </button></div>
                <div *ngIf="note.questionAndAnswerNotes[0].rate.length != 0">
                  <rating class="starRating" [(ngModel)]="note.questionAndAnswerNotes[0].rate[0].rate" [max]="5"
                    [float]=true fullIcon="★" emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']" (click)="starCounting(note.questionAndAnswerNotes[0].id, 0)">
                  </rating>
                </div>

                <div *ngIf="note.questionAndAnswerNotes[0].rate.length == 0">
                  <rating class="starRating" [(ngModel)]="emptyStarCase[0]" [max]="5" [float]=true fullIcon="★"
                    emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']" (click)="starCounting(note.questionAndAnswerNotes[0].id, 0)">
                  </rating>
                </div>

                <!-- <bar-rating [(rate)]="starsCount" [theme]="'fontawesome-o'" [max]="5"></bar-rating> -->

              </div>
              <div *ngIf="showReplyInput[0] == true" fxLayout="row">
                <!-- <textarea name="replyInput" cols="52" class="replyInput"
                  [(ngModel)]="replyInput" placeholder="write something here.." (click)=sendReply(note.questionAndAnswerNotes[0].id)></textarea> -->
                  <div [froalaEditor]="options" cols="52" [(froalaModel)]="replyInput" class="replyInput" placeholder="write something here.."></div>
                <button mat-button (click)=sendReply(note.questionAndAnswerNotes[0].id)>Reply</button></div>
            </div>
          </div>
        </div>
      </div>

      <div class="questDiv"></div>

      <!-- ******************************1st Level Reply Part start********************************************************************-->


      <div class="1stLevelReply" *ngFor="let item of replyArr; let i=index">
        <!-- <div *ngIf="item.parentId[0] == undefined"> -->
        <div fxLayout="column wrap" fxLayoutAlign="space-between" *ngIf="note.questionAndAnswerNotes.length != 0 && item.parentId == note.questionAndAnswerNotes[0].id && item.isApproved">
          <div fxFlex>
            <div fxLayout="row wrap">
              <button mat-fab [ngStyle]="{ 'background-image': 'url(' + proPicDiplay[i+1] + ')', 'background-size': 'cover'}"></button>
              <div class="contentBody">
                <div fxLayout="row">
                  <div class="userName" [innerHTML]="item.user.firstName +' '+item.user.lastName"></div>
                  &nbsp;&nbsp;&nbsp;
                  <br>
                  <div class="userName" [innerHTML]="dateTimeStatus[i]"></div>
                </div>

                <div class="quesText" [innerHTML]="item.message"></div>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center">
            <div fxFlex fxLayoutAlign="end" fxLayout="row wrap">
              <div><button mat-icon-button (click)="showReplyInput[i+1] = !showReplyInput[i+1]">
                  <mat-icon>reply</mat-icon>
                </button></div>

              <!-- <div *ngIf="item.like.length != 0">
              <div *ngFor="let item2 of item.like; let j=index;">
            <div *ngIf="item.like.length != 0 && item2.userId == currentUserId">
              <button mat-icon-button (click)="likeUnLikeit(!item.like[j].like,item.id,i)">
                <mat-icon [ngClass]="item.like[j].like == true ? 'unLiked':'liked'">thumb_up</mat-icon><span>
                  {{likeCount[i]}} like</span>
              </button></div>
              </div>
              </div>

            <div *ngIf="item.like.length == 0"><button mat-icon-button (click)="likeUnLikeit(true,item.id,i)">
                <mat-icon [ngClass]="false ? 'unLiked':'liked'">thumb_up</mat-icon><span> 0 like</span>
              </button></div> -->

              <div fxLayout="row wrap">
                <button mat-icon-button *ngIf="!likeUnlike(item.like)" (click)="likeUnLikeit(true,item.id,i)">
                  <mat-icon class=liked>thumb_up</mat-icon>
                </button>
                <button mat-icon-button *ngIf="likeUnlike(item.like)" (click)="likeUnLikeit(false,item.id,i)">
                  <mat-icon class=unLiked>thumb_up</mat-icon>
                </button>
                <span class="likeCount">{{likeCounting(item.like)}}  likes</span>
              </div>



              <div *ngIf="item.rate.length != 0">
                <div fxLayout="row wrap" *ngFor="let item2 of item.rate; let j=index;">

                  <div *ngIf="item2.userId == currentUserId && item != undefined">
                    <rating class="starRating" [(ngModel)]="item.rate[j].rate" [max]="5" [float]=true fullIcon="★"
                      emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']" (click)="starCounting(item.id,item2,i+1)">
                    </rating><span class="ratingText">({{starsCount[i]}})</span>
                  </div>

                  <div *ngIf="item2.userId != currentUserId && item != undefined && starShowFlag == false">
                    <rating class="starRating" [required]="true" [(ngModel)]="emptyStarCase[i+1]" [max]="5" [float]=true
                      fullIcon="★" emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']" (click)="starCounting(item.id,item2,i+1)">
                    </rating><span class="ratingText">s({{starsCount[i]}})</span>
                  </div>
                </div>
              </div>

              <div *ngIf="item.rate.length == 0">
                <rating class="starRating" [required]="true" [(ngModel)]="emptyStarCase[i+1]" [max]="5" [float]=true
                  fullIcon="★" emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']" (click)="starCounting(item.id,emptyStarCase[i+1],i+1)">
                </rating><span class="ratingText">a({{starsCount[i]}})</span>
              </div>

              <div>
                <button mat-icon-button *ngIf="!showReplyDisply || id!=item.id" (click)="enableReply(item,!showReplyDisply)">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <button mat-icon-button *ngIf="showReplyDisply && id==item.id" (click)="enableReply(item,!showReplyDisply)">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
              </div>
            </div>


          </div>
          <!-- </div> -->
          <div *ngIf="showReplyInput[i+1] == true" fxLayout="row">
            <!-- <textarea name="replyInput" cols="52" class="replyInput"
              [(ngModel)]="replyInput" placeholder="write something here.."></textarea> -->
              <div [froalaEditor]="options" [(froalaModel)]="replyInput" class="replyInput" placeholder="write something here.."></div>
            <button mat-button (click)="sendReply(item.id); showReplyInput[i+1] = !showReplyInput[i+1]">Reply</button></div>

          <!-- </div> -->
        </div>
        <!-- <div fxFlex="20"></div> -->
        <!-- <mat-divider></mat-divider> -->

        <!-- ***************************************1st Inner reply starts*****************************************-->


        <div class="firstLevelReply" *ngFor="let item1 of replyArr; let i=index">
          <!-- <div *ngIf="item1.parentId[0] == undefined"> -->
          <div *ngIf="note.questionAndAnswerNotes.length != 0">
            <div fxLayout="column wrap" *ngIf="item1.parentId == item.id && showReplyDisply && id==item.id && item1.isApproved">
              <div fxFlex>
                <div fxLayout="row wrap">
                  <button mat-fab [ngStyle]="{ 'background-image': 'url(' + proPicDiplay[i+1] + ')', 'background-size': 'cover'}"></button>

                  <div class="contentBody">
                    <div fxLayout="row">
                      <div class="userName" [innerHTML]="item1.user.firstName +' '+item1.user.lastName"></div>
                      &nbsp;&nbsp;&nbsp;
                      <br>
                      <div class="userName" [innerHTML]="dateTimeStatus[i]"></div>
                    </div>

                    <div class="quesText" [innerHTML]="item1.message"></div>
                  </div>
                </div>
              </div>



              <div fxLayout="row wrap" fxLayoutAlign="center">
                <div fxFlex fxLayoutAlign="end">
                  <div><button mat-icon-button (click)="showReplyInput[i+1] = !showReplyInput[i+1]">
                      <mat-icon>reply</mat-icon>
                    </button></div>


                  <!-- <div fxLayout="row wrap">
                  <div *ngIf="item1.like.length != 0">
                    <div fxLayout="row wrap" *ngFor="let item2 of item1.like; let j=index;">

                      <div *ngIf="item1.like.length != 0"><button mat-icon-button
                          (click)="likeUnLikeit(!item1.like[j].like,item1.id,i)">
                          <mat-icon [ngClass]="item1.like[j].like == true ? 'unLiked':'liked'">thumb_up</mat-icon><span>
                            {{likeCount[i]}} like</span>
                        </button></div>
                    </div>
                  </div>

                  <div *ngIf="item1.like.length == 0"><button mat-icon-button (click)="likeUnLikeit(true,item1.id,i)">
                      <mat-icon [ngClass]="false ? 'unLiked':'liked'">thumb_up</mat-icon><span> 0 like</span>
                    </button></div>

                </div> -->
                  <div fxLayout="row wrap">
                    <button mat-icon-button *ngIf="!likeUnlike(item1.like)" (click)="likeUnLikeit(true,item1.id,i)">
                      <mat-icon class=liked>thumb_up</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="likeUnlike(item1.like)" (click)="likeUnLikeit(false,item1.id,i)">
                      <mat-icon class=unLiked>thumb_up</mat-icon>
                    </button>
                    <span class="likeCount">{{likeCounting(item1.like)}}  likes</span>
                  </div>



                  <div fxLayout="row wrap">

                    <div *ngIf="item1.rate.length != 0">
                      <div fxLayout="row wrap" *ngFor="let item2 of item1.rate; let j=index;">

                        <div *ngIf=" item2.userId == currentUserId">
                          <rating class="starRating" [(ngModel)]="item1.rate[j].rate" [max]="5" [float]=true fullIcon="★"
                            emptyIcon="☆" [required]="true" [titles]="['one', 'two', 'three', 'four', 'five']" (click)="starCounting(item1.id,item2,i+1)">
                          </rating><span class="ratingText">({{starsCount[i]}})</span>
                        </div>

                        <div *ngIf=" item2.userId != currentUserId && item != undefined && starShowFlag == false">
                          <rating class="starRating" [required]="true" [(ngModel)]="emptyStarCase[i+1]" [max]="5"
                            [float]=true fullIcon="★" emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']"
                            (click)="starCounting(item1.id,item2,i+1)">
                          </rating><span class="ratingText">({{starsCount[i]}})</span>
                        </div>

                        
                      </div>
                    </div>

                    <div *ngIf="item1.rate.length == 0">
                      <rating class="starRating" [required]="true" [(ngModel)]="emptyStarCase[i+1]" [max]="5" [float]=true
                        fullIcon="★" emptyIcon="☆" [titles]="['one', 'two', 'three', 'four', 'five']" (click)="starCounting(item1.id,emptyStarCase[i+1],i+1)">
                      </rating><span class="ratingText">({{starsCount[i]}})</span>
                    </div>

                  </div>



                </div>
              </div>


              <div *ngIf="showReplyInput[i+1] == true" fxLayout="row">
                <!-- <textarea name="replyInput" cols="52" class="replyInput"
                  [(ngModel)]="replyInput" placeholder="write something here.." (click)=sendReply(item1.id)></textarea> -->
                  <div [froalaEditor]="options" [(froalaModel)]="replyInput" class="replyInput" placeholder="write something here.."></div>
                <button mat-button (click)="sendReply(item1.id); showReplyInput[i+1] = !showReplyInput[i+1]">Reply</button></div>
              <!-- </div> -->
              <!-- </div> -->
            </div>
            <!-- <div fxFlex="20"></div> -->

          </div>
        </div>

        <!-- ***************************************1st Inner reply ends*****************************************-->

      </div>
      <!-- </div> -->
      <!-- ******************************1st Level Reply Part start***********************************************-->
    </div>
  </div>
</div>