<!-- <mat-dialog-content > -->
  <mat-card [ngStyle]="{'background': updateColor}">
<div >
  <div fxLayoutAlign="space-between" fxLayout="column" >
    <div fxLayout="row">
      <div contenteditable="true" placeholder="Title" class="titleNote" id="updateTitle" [innerHTML]="data.title"></div>
      <div><button mat-icon-button style="position: absolute; margin-left: -43px;" (click)="isPinned = !isPined">
          <mat-icon>fiber_pin</mat-icon>
        </button></div>
    </div>
    <div contenteditable="true" placeholder="take a note..." class="takeNoteExpand" style="clear:left" id="updateDesc" *ngIf="data.noteCheckLists.length === 0"
      [innerHTML]="data.description"></div>
      <div class="messgCard" *ngIf="data.noteCheckLists.length !== 0">
        
          <mat-card-content *ngFor="let checklists of data.noteCheckLists" [innerHTML]="checklists.itemName">
            
          </mat-card-content>
  
        </div>
      <br>
  </div>
  <div fxLayoutAlign="space-between" fxLayout="row">
    <button mat-icon-button class="touchBut">
      <mat-icon>touch_app</mat-icon>
    </button>
    <button mat-icon-button class="addBut">
      <mat-icon>person_add</mat-icon>
    </button>
    <app-palette (resp)="updateBackground($event)" [newColor]="data"></app-palette>
    <app-create-archive [archiveInput]="data.id" (reloadNote)=archiveNote($event)></app-create-archive>
    <div fxLayoutAlign="space-between">
      <app-more-options [noteId]="data.id" (update)="deleteNote($event)"></app-more-options>

      <button mat-button disableClose="true" cdkFocusInitial (click)="updataData()" style="opacity: 1.5"><b>close</b></button>
    </div>
  </div>

</div>
  </mat-card>
<!-- </mat-dialog-content> -->