.dash{

  width: 100%;
  height: 100%;
  background: lightgrey;
  /* display: flex;
  align-items: center;
  justify-content: center */
}

.takeNote{
  border: none;
  height: 45px;
  font-size: 18px;
  width: 486px;
  outline: none;

}

.addNote{

  width: 100%;
  padding: 0px 0px 0px 17px;
  margin: 46px 0px 0px 0px;
  opacity: 0.7;
}

.titleNote{
  border: none;
  /* height: auto; */
  font-size: 18px;
  width: 486px;
  outline: none;

  /* resize: none; */

}

.titleNoteShow{
  border: none;
  /* height: auto; */
  font-size: 18px;
  width: 486px;
  outline: none;

  /* resize: none; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;

}

.completeReminder{

  opacity: 0.4;
}

.expandNoteCard{
  width: 100%;
  padding: 0px 0px 0px 17px;
  margin: 46px 0px 0px 0px;
}

.takeNoteExpand{
  border: none;
  height: auto;
  font-size: 18px;
  width: 470px;
  outline: none;
  
}

.takeNoteExpandShow{
  border: none;
  height: auto;
  font-size: 18px;
  width: 470px;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}

.notebuttonPanal{
  opacity: 0.7;
}

[contenteditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

div[contenteditable=true] {
  border: none;
  height: auto;
  font-size: 18px;
  width: 24vw;
  outline: none;
  
  /* padding-top: 10px; */
}

// div[contenteditable=false] {
//   border: none;
//   height: auto;
//   font-size: 18px;
//   width: 470px;
//   outline: none;
//   white-space: nowrap;
// text-overflow: ellipsis;
// overflow: hidden !important;
//   /* padding-top: 10px; */
// }

.takeNote:hover{
  opacity: 1;
}

.listBut{
  opacity: 0.7;
}
.listBut:hover{
  opacity: 6;
}

.imageBut{
  opacity: 0.7;
}
.imageBut:hover{
  opacity: 6;
}

.editBut{
  opacity: 0.7;
}
.editBut:hover{
  opacity: 6;
}

.touchBut{
  opacity: 0.7;
}
.touchBut:hover{
  opacity: 6;
}

.addBut{
  opacity: 0.7;
}
.addBut:hover{
  opacity: 6;
}

.colorBut{
  opacity: 0.7;
}
.colorBut:hover{
  opacity: 6;
}

.archiveBut{
  opacity: 0.7;
}
.archiveBut:hover{
  opacity: 6;
}

.moreBut{
  opacity: 0.7;
}
.moreBut:hover{
  opacity: 6;
}

.undoBut{
  opacity: 0.7;
}
.undoBut:hover{
  opacity: 6;
}

.redoBut{
  opacity: 0.7;
}
.redoBut:hover{
  opacity: 6;
}

/* .mat-dialog-container {
  overflow-y: hidden;

} */

  ::ng-deep.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 0px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    overflow-y: hidden;
}

.takeNoteExpandEdit{

  border: none;
  height: auto;
  font-size: 18px;
  width: 470px;
  outline: none;
  /* margin-top: -11px */
}

/* .editDiv{
  /* margin-top: 10px 
}*/

.checkInput{

  font-size: 18px;
  border: none;
  outline: none;
}

.blur{
  opacity: 0.3;
}

.solid{
  opacity: 1;
}