/*
*
*/
.cardTitle{


}

.signup{

  font-size: 20px;
  color: rgb(253, 253, 253);
    background-color: rgb(22, 125, 243);
    /* align-content: center;
    justify-content: center; */
    /* position: absolute; */
    width: 40%;
    border-radius: 4px;
    float: right;
    height: 45px;
}

.fName{

  width: 45%;
}

.lName{

  width: 45%;
}

.email{

width: 46%;
}

.password{
  width: 40%;
}

.confirmPass{
  width: 40%;
}

.headBar
{
  background-color: deepskyblue;
}

.cardButton{


}

.basic
{
  width: 75%;
  height: 145px;
  background-color: rgb(203, 206, 209);
  border-radius: 5px;
  font-size: 20px;

}

.basicNew{

  width: 75%;
  height: 145px;
  background-color: rgb(29, 134, 238);
  border-radius: 5px;
  font-size: 20px;
}

.advance{
  width: 60%;
  height: 145px;
  background-color: rgb(203, 206, 209);
  border-radius: 5px;
  font-size: 20px;
}

.advanceNew{

  width: 60%;
  height: 145px;
  background-color: rgb(29, 134, 238);
  border-radius: 5px;
  font-size: 20px;
}

.basicLink{
  text-decoration: none;
}

.advanceLink{
  text-decoration: none;
}

.loginLink{
  text-decoration: none;
  color: royalblue;
}

.termsLink
{
  color: blue;
}
