/*
*
*/
.cardTitle{


}

.signup{

  font-size: 20px;
  color: rgb(253, 253, 253);
    background-color: rgb(22, 125, 243);
    /* align-content: center;
    justify-content: center; */
    /* position: absolute; */
    width: 40%;
    border-radius: 4px;
    float: right;
    height: 45px;
}

.fName{

  width: 45%;
}

.fNameNew{
  width: 100%
}
.lNameNew{
  width: 100%
}

.emailNew{
  width: 100%;
}

.passwordNew{
  width: 100%;
}

.conpassNew{
  width: 95%;
}

.lName{

  width: 45%;
}

.email{

width: 50%;
}

.password{
  width: 45%;
}

.confirmPass{
  width: 45%;
}

.headBar
{
  background-color: deepskyblue;
}

.cardButton{


}

.basic
{
  width: auto;
  height: auto;
  background-color: rgb(203, 206, 209);
  border-radius: 5px;
  font-size: 20px;

}

.basicNew{

  width: auto;
  height: auto;
  background-color: rgb(29, 134, 238);
  border-radius: 5px;
  font-size: 20px;
}

.advance{
  width: auto;
  height: auto;
  background-color: rgb(203, 206, 209);
  border-radius: 5px;
  font-size: 20px;
}

.advanceNew{

  width: auto;
  height: auto;
  background-color: rgb(29, 134, 238);
  border-radius: 5px;
  font-size: 20px;
}

.basicLink{
  text-decoration: none;
}

.advanceLink{
  text-decoration: none;
}

.loginLink{
  text-decoration: none;
  color: royalblue;
}

.termsLink
{
  color: rgb(32, 32, 250);
}

/* .emailSnack-bar{

  background-color: cornsilk;
} */
