/*
*
*/
.cardTitle{


}

.signup{

  color: rgb(253, 253, 253);
    background-color: rgb(22, 125, 243);
    /* align-content: center;
    justify-content: center; */
    /* position: absolute; */
    width: 40%;
    border-radius: 4px;
    float: right;
}

.fName{

  width: 45%;
}

.lName{

  width: 45%;
}

.email{

width: 46%;
}

.password{
  width: 40%;
}

.confirmPass{
  width: 40%;
}

.headBar
{
  background-color: deepskyblue;
}

.basic
{
  width: 25%;
}

.advance{
  width: 25%;
}
