<div fxLayout="column" fxLayoutGap="4%">
  <div fxFlex="25" fxFlex.lg="10" fxFlex.xl="10" fxFlex.md="10" fxFlex.sm="0" fxFlex.xs="0">top


  </div>
  <!-- <div fxFlex="50%"> -->



  <div fxLayout="row" fxFlex.lg="80" fxFlex.xl="80" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
    <div fxFlex="38" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="33"></div>
    <div fxFlex="24" fxFlex.xs="100" fxFlex.sm="84" fxFlex.md="68" fxFlex.lg="34">
      <!-- fxHide.sm='true' fxHide.xs='false' -->
      <form name="signForm" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

        <mat-card class="signupCard" >


          <div id="formbody" fxFlex="100">
            <mat-toolbar class="headBar" color='warn' fxLayoutAlign="center">Fundoo App</mat-toolbar><br>
            <mat-card-title fxLayoutAlign="center">Sign Up</mat-card-title><br><br>
            <mat-card-header class=cardHeader>Create a FundooApp account</mat-card-header><br><br><br>


              <mat-form-field class="fName">
                <input matInput name="fname" type="text" placeholder="First name" [(ngModel)]="reg.firstName"
                  #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                  <mat-error *ngIf="f.submitted && firstName.invalid">
                    <mat-error *ngIf="firstName?.errors.required"><mat-error>First Name is required</mat-error></mat-error>
                  </mat-error>
                </mat-form-field>


            &nbsp;&nbsp;

              <mat-form-field class="lName">
                <input matInput name="lname" type="text" placeholder="Last name" required [(ngModel)]="reg.lastName"
                  #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid}" required />
                  <mat-error *ngIf="f.submitted && lastName.invalid">
                    <mat-error *ngIf="lastName?.errors.required"><mat-error>Last Name is required</mat-error></mat-error>
                  </mat-error>
                </mat-form-field>

            <br>


              <mat-form-field class="email">

                <input matInput class="form-control" name="email" type="email" placeholder="Email" required email
                  [(ngModel)]="reg.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid}">
                <!-- <mat-hint [hidden]="!flag">e.g. abc123@xyz.com</mat-hint> -->
                <mat-error *ngIf="f.submitted && email.invalid">
                  <mat-error *ngIf="email?.errors.required"><mat-error>Email is required</mat-error>
                    <mat-error *ngIf="email?.errors.email"><mat-error>Email must be a valid email address</mat-error></mat-error>
                  </mat-error>
                </mat-error>
              </mat-form-field>

            <br><br><br>


            <div>

              <mat-form-field class="password">
                <input matInput name="pass" [type]="hide ? 'password' : 'text'" placeholder="Password"
                  [(ngModel)]="reg.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                  required >
                  <mat-error *ngIf="f.submitted && password.invalid">
                    <mat-error *ngIf="password?.errors.required"><mat-error>Password is required</mat-error></mat-error>
                    <!-- <mat-error *ngIf="password?.errors.minlength"><mat-error>Password must be at least 6 characters</mat-error></mat-error> -->

              </mat-error>
                </mat-form-field>

              &nbsp;&nbsp;

              <mat-form-field class="confirmPass">
                <input matInput name="conpass" [type]="hide ? 'password' : 'text'" placeholder="Confirm password"[(ngModel)]="reg.conpass" #conpass="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && conpass.invalid }"
                required minlength="6">
                <mat-error *ngIf="f.submitted && conpass.invalid">
                  <mat-error *ngIf="conpass?.errors.required"><mat-error>Password is required</mat-error></mat-error>
                  <mat-error *ngIf="pass != confirmpass"><mat-error>Password is not matched</mat-error></mat-error>
                  <mat-error *ngIf="conpass?.errors.minlength"><mat-error>Password must be at least 6 characters</mat-error></mat-error>

            </mat-error>
              </mat-form-field>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>


            </div><br><br><br>



            <div fxLayout="row" fxLayoutGap="3%">


              <div *ngFor="let card of arrClick">


                <a value="card.name">
                  <mat-card mat-button (click)="respond(card)" [ngClass]="card.select ? 'basicNew' : 'basic'">
                    <mat-card-title fxLayoutAlign="center">{{card.name}}</mat-card-title>
                    <div fxLayoutAlign="center">
                      <div>
                        <mat-card-content fxLayoutWrap>{{card.description}}</mat-card-content>
                      </div>
                    </div>

                  </mat-card>
                </a>

              </div>

              <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              <!-- <div>

                <a mat-button (click)="colorAdv = !colorAdv" >
            <mat-card mat-button [ngClass]="colorAdv ? 'advance' : 'advanceNew'">
                <mat-card-title fxLayoutAlign="center">Advance</mat-card-title>
                <div fxLayout="row" fxLayoutAlign="center">
                  <h4>$</h4><h1>25</h1>
                </div>

            </mat-card></a></div> -->
            </div>
            <br><br><br>

            <mat-checkbox (click)="deal()"> I agree the </mat-checkbox> <a (click)="terms()" class="termsLink"> Terms of Service</a> of
            this site.

            <br><br>

            <button mat-button [disabled]="agree == false" class="signup" type="submit" (click)="formSubmit()">sign up</button><br>
            <nav><a class="loginLink" routerLink="/login" routerLinkActive="active">Sign in instead</a></nav>


          </div>



        </mat-card>

      </form>

    </div>
    <div fxFlex="38" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="33"></div>
    <!-- <button mat-icon-button ><mat-icon id="icon" ></mat-icon></button> -->
  </div>



  <!-- </div> -->
  <div fxFlex="25" fxFlex.lg="10" fxFlex.xl="10" fxFlex.md="10" fxFlex.sm="0" fxFlex.xs="0">
    <div>bottom


    </div>
  </div>
</div>
