/*
*
 } */

 @import '../../../scss/variable';
 @import '../../../scss/mixin';

.signup{

  font-size: 20px;
  @include text-color($white_color);
    @include bg-color($lightBlue_color);
    /* align-content: center;
    justify-content: center; */
    /* position: absolute; */
    width: 40%;
    border-radius: 4px;
    float: right;
    height: 45px;
    
}

// $widthConfig: 
// 'fname' 45%,
// 'fNameNew' 100%,
// 'lNameNew' 100%, 
// 'emailNew' 100%, 
// 'passwordNew' 100%,
// 'conpassNew' 95%,
// 'lName' 45%,
// 'email' 50%,
// 'password' 45%,
// 'confirmPass' 45%;

// @each $name in $widthConfig {
  
//   #{nth($name, 1)} {
//      width: nth($name, 2);
//   }
//  }

.fName, .lName, .password, .confirmPass{

  @include width(45%);
}

.fNameNew, .lNameNew, .emailNew, .passwordNew{
  @include width(100%);
}

.conpassNew{
  @include width(95%);
}

.email{

@include width(50%);
}

.headBar
{
  // background-color: rgb(0, 191, 255);
  @include bg-color(rgb(0, 191, 255));
}

.basic, .advance
{
  @include serviceCard(rgb(203, 206, 209));

}

.basicNew, .advanceNew{

  @include serviceCard(rgb(29, 134, 238));
}

.basicLink, .advanceLink{
  text-decoration: none;
}

.loginLink{

  @extend .basicLink;
  @include text-color(rgb(65, 105, 225));
}

#termsLink
{
  @include text-color(rgb(32, 32, 250))
}

