<mat-card class="dialogCard">
  <div fxLayout="column" fxLayoutAlign="space-between start">
    <mat-card-title>Create Label</mat-card-title>

    <form>
      <div>
        <button mat-icon-button type="reset" (click)="cross()">
          <mat-icon>clear</mat-icon>
        </button><input class="labelInput" name="label" [(ngModel)]="labelInput" placeholder="Label name" (click)="hidden = false"><button
          mat-icon-button [hidden]="hidden" (click)="addLabel()">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </form>

    <div *ngFor="let item of labelReverseDiplay" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-around" class="labelList">
        <div>
        <span>
          <mat-icon class="labelIcon">label</mat-icon>
        </span>
        <span class="labelText" [hidden]="editHid">{{item.label}}</span>
        <span [hidden]="!editHid"><input class="labelInput" name="labelEdit" [(ngModel)]="editedName" placeholder="label name" ></span>
        </div>
        <div [hidden]="editHid">
        <span><button mat-icon-button (click)="deleteLabel(item.id)" class="overlay">
            <mat-icon>delete</mat-icon>
          </button></span> <span><button mat-icon-button (click)="edit()" class="overlay">
            <mat-icon>edit</mat-icon>
          </button></span>
          </div>
          <button mat-icon-button [hidden]="!editHid" (click)="editLabel(item.id)" (click)="editHid =false">
          <mat-icon>done</mat-icon>
        </button>
          <div>

          </div>
      </div>
    </div>


  </div>
</mat-card>