/*
*
*/

/* color variables */
$lightGrey_color: rgb(211, 211, 211);
$white_color: rgb(253, 253, 253);
$blue_color: rgb(66, 106, 224);
$lightBlue_color: rgb(22, 125, 243);
$yellow_shadow: rgb(228, 167, 0);
$yellow: rgb(255, 187, 0);
$lightRed_color: rgb(240, 128, 128);
$lightSkyBlue_color: rgb(132, 204, 249);
$lightGreen_color: rgb(144, 238, 144);
$lightViolet_color: rgb(252, 136, 252);
$magicSkyBlue_color: rgb(5, 246, 246);
$lightCream_color: rgb(255, 182, 193);
$lightBrown_color: rgb(211, 164, 77);
$lightestBrown_color: rgb(228, 182, 136);
/* normal variable */
// $width: 