<div fxLayout="column" fxLayoutGap="12%">
  <div fxFlex="25">


  </div>
  <!-- <div fxFlex="50%"> -->



  <div fxLayout="row">
    <div fxFlex="38" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="33"></div>
    <div fxFlex="24" fxFlex.xs="100" fxFlex.sm="84" fxFlex.md="68" fxFlex.lg="34">
      <!-- fxHide.sm='true' fxHide.xs='false' -->
      <mat-card class="loginCard">


        <div id="formbody" fxFlex="100">
          <form id="logForm" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

            <mat-card-title fxLayoutAlign="center" class="cardTitle">Reset Password</mat-card-title>

            <mat-form-field id="example-full-width">
              <input matInput name="pass" [type]="hide ? 'password' : 'text'" placeholder="New Password" [(ngModel)]="respass.password"
                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid}" required minlength="6">
              <mat-hint>e.g. abc123@xyz.com</mat-hint>
              <mat-error *ngIf="f.submitted && email.invalid">
                <mat-error *ngIf="email?.errors.required">
                  <mat-error>Email is required</mat-error>
                  <mat-error *ngIf="email?.errors.email">
                    <mat-error>Email must be a valid email address</mat-error>
                  </mat-error>
                </mat-error>
              </mat-error>
            </mat-form-field>

            &nbsp;&nbsp;

            <mat-form-field id="example-full-width">
              <input matInput name="conpass" [type]="hide ? 'password' : 'text'" placeholder="Confirm password"
                [(ngModel)]="respass.conpass" #conpass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && conpass.invalid }"
                required minlength="6">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="f.submitted && conpass.invalid">
                <mat-error *ngIf="conpass?.errors.required">
                  <mat-error>Password is required</mat-error>
                </mat-error>
                <mat-error *ngIf="conpass?.errors.minlength">
                  <mat-error>Password must be at least 6 characters</mat-error>
                </mat-error>
                <mat-error *ngIf="pass != confirmpass">
                  <mat-error>Password is not matched</mat-error>
                </mat-error>
              </mat-error>
            </mat-form-field>
            <br><br>


            <button name="loginSubmit" id="submit" mat-button type="submit" fxLayoutAlign="center" (click)="resetSubmit()">Reset</button>





          </form>
        </div>



      </mat-card>

    </div>
    <div fxFlex="38" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="33"></div>
    <!-- <button mat-icon-button ><mat-icon id="icon" ></mat-icon></button> -->
  </div>



  <!-- </div> -->
  <div fxFlex="25">
    <div>


    </div>
  </div>
</div>
